.title {
    font-size: 5em;
    margin-bottom: 0;
    font-family: Magiel-Black, Arial, serif;
    line-height: 1.5em;
}

@media screen and (max-width: 480px) {
    .title {
        line-height: 1em;
        padding-bottom: 2rem;
    }
}

.subTitle {
    color: #c09761;
    margin-top: 0;
    font-size: 1em;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.content {
}

.subTitleContainer {
    border-top-width: 0.125rem;
    border-color: #c09761;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.iconGroup {
    /*gap: 0.25rem;*/
    display: flex;
    align-items: center;
}