html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
    font-family: Magiel-Black;
    src: url("/fonts/Magiel-Black.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("https://fonts.googleapis.com/css?family=Montserrat");
    font-style: auto;
    font-weight: auto;
    font-display: swap;
}

.background {
    position: absolute;
}

.canvasContainer {
    width: 100vw !important;
    height: 100vh !important;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    /*z-index: -9999;*/
    background-color: black;
}
